:root {
    --gap: clamp(1rem, 1rem + 2vw, 2rem);
    --large-font-size: var(--gap);
    --max-site-width: min(1300px, 100% - (2 * var(--gap)));
}


/* ======================== CSS RESET ======================== */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* ======================== BASICS ======================== */

html {
    font-family: system-ui, sans-serif;
}

body {
    color: rgba(0, 0, 0, .84);
    background-color: #f2f2f2;
}

a {
    color: #1967d2;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    color: #313131;
    text-rendering: optimizeLegibility;
}

h1 a,
h2 a {
    color: #313131;
}


/* ======================== CONTENT ======================== */

body {
    overflow-y: scroll;
    background-color: #fff0e3;
}

.page-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: var(--gap);
    margin: var(--gap) auto;
}

header.primary-header {
    width: var(--max-site-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: var(--gap);
}

header.primary-header h1 {
    font-size: var(--large-font-size);
    display: flex;
    align-items: center;
}

header.primary-header h1 a {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 4);
    text-decoration: none;
}

header.primary-header h1 a img {
    width: clamp(1rem, 1rem + 2vw, 1.5rem);
    height: auto;
}

main.main-content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    flex-grow: 1;
    width: var(--max-site-width);
    margin: 0 auto;
}

#myForm {
    display: flex;
    gap: 5px;
}

input.video-id {
    padding: 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button.submit-button {
    border-radius: 5px;
    padding: 5px 15px;
    border: 1px solid gray;
    background: lightgray;
    cursor: pointer;
}

button.submit-button:hover,
button.submit-button:focus {
    background: gray;
}

#content {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: var(--gap);
}

table.table-container {
    display: table;
    table-layout: auto;
    word-break: break-word;
    width: 100%;
    text-align: left;
    font-weight: 300;
    border-radius: 5px;
    margin: 0;
}

table.table-container,
table.table-container th,
table.table-container td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
    padding: 3%;
}

table.table-container td {
    padding-top: 0;
    padding-bottom: 0;
}

table.table-container th {
    font-weight: bold;
}

table.table-container #tableValue {
    width: 65%;
}

/* Background-color of the odd rows */
table.table-container tr:nth-child(odd) {
    background-color: lightgray;
}

/* Background-color of the even rows */
/* table.table-container tr:nth-child(even) {
    background-color: gray;
} */

.map_container {
    width: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: var(--gap);
}

path {
    fill: lightgray;
    stroke: white;
}

path:hover {
    fill: gray;
}