:root {
    --gap: clamp(0.5rem, 0.25rem + 2vw, 2rem);
    --large-font-size: clamp(1.5rem, 1rem + 0.75vw, 1.7rem);
    --max-site-width: min(1300px, 100% - (2 * var(--gap)));
    --border-color: hsl(0, 0%, 20%);
    --border: 1px solid var(--border-color);
    --font-color: rgb(230, 237, 243);
    --background-color: rgb(20, 20, 20);
}


/* ======================== CSS RESET ======================== */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


/* ======================== BASICS ======================== */

html {
    font-family: system-ui, sans-serif;
}

body {
    color: var(--font-color);
    font-weight: 300;
    background-color: var(--background-color);
}

a {
    color: var(--font-color);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
    text-rendering: optimizeLegibility;
}

h1 a,
h2 a {
    color: #313131;
}


/* ======================== CONTENT ======================== */

.page-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-bottom: var(--gap);
    margin: var(--gap) auto;
}

header.primary-header {
    width: var(--max-site-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap: var(--gap);
}

header.primary-header h1 {
    font-size: var(--large-font-size);
    display: flex;
    align-items: center;
}

header.primary-header h1 a {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) / 4);
    text-decoration: none;
}

header.primary-header h1 a img {
    width: clamp(1rem, 1rem + 2vw, 1.5rem);
    height: auto;
}

#myForm {
    display: flex;
    gap: 5px;
}

input.video-url {
    padding: 4px 10px;
    border: var(--border);
    background: transparent;
    color: inherit;
    outline: none;
    width: min(300px, 100%);
}

button.submit-button {
    padding: 4px 15px;
    border: var(--border);
    background: transparent;
    color: inherit;
    cursor: pointer;
}

button.submit-button:hover {
    background: var(--border-color);
}

.error-message {
    color: red;
}

main.content {
    flex-grow: 1;
    width: var(--max-site-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: var(--gap);
}

table.table-container {
    display: table;
    table-layout: auto;
    word-break: break-word;
    width: 100%;
    text-align: left;
    margin: 0;
}

table.table-container,
table.table-container th,
table.table-container td {
    border: var(--border);
    border-collapse: collapse;
    text-align: left;
    padding: 0.4375rem 0.875rem;
}

table.table-container th {
    font-weight: 700;
    padding: 0.875rem;
}

table.table-container #tableValue {
    width: 65%;
}

.map_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    border: var(--border);
    padding: var(--gap);
}

#svgContainer::after {
    position: absolute;
    font-size: 0.75rem;
    left: 10px;
    bottom: 5px;
    content: "scale: " attr(data-scale);
}

path {
    fill: var(--border-color);
    stroke: hsl(0, 0%, 30%);
}

path:hover {
    fill: hsl(0, 0%, 30%);
}


/* ======================== MEDIA QUERIES ======================== */

@media screen and (max-width: 1050px) {
    main.content {
        grid-template-columns: 1fr;
    }
}