<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Metadata</title>
    <link rel="stylesheet" type="text/css" href='/static/style.css?ver={{ (index . "style.css").Etag }}'>
</head>

<body>
    <div class="page-wrap">
        <header class="primary-header">
            <a href="/">
                <h1>YouTube Metadata</h1>
            </a>
            <form id="myForm" method="POST">
                <input class="video-id" required pattern="[A-Za-z0-9_\-]{11}" type="text" name="id"
                    placeholder="YouTube video ID..." title="Valid YouTube ID only.">
                <button class="submit-button" type="submit" value="Submit">Submit</button>
            </form>
        </header>

        <main class="content">
            <table class="table-container">
                <thead>
                    <tr>
                        <th>Metadata</th>
                        <th id="tableValue">Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td data-id="id"></td>
                    </tr>
                    <tr>
                        <td>Title</td>
                        <td data-id="title"></td>
                    </tr>
                    <tr>
                        <td>Privacy Status</td>
                        <td data-id="privacyStatus"></td>
                    </tr>
                    <tr>
                        <td>Age Restriced</td>
                        <td data-id="ageRestriced"></td>
                    </tr>
                    <tr>
                        <td>Embeddable</td>
                        <td data-id="embeddable"></td>
                    </tr>
                    <tr>
                        <td>Region Restricted</td>
                        <td data-id="regionRestricted"></td>
                    </tr>
                    <tr>
                        <td>Default Language</td>
                        <td data-id="defaultLanguage"></td>
                    </tr>
                    <tr>
                        <td>Live Broadcast</td>
                        <td data-id="liveBroadcast"></td>
                    </tr>
                    <tr>
                        <td>Duration</td>
                        <td data-id="duration"></td>
                    </tr>
                </tbody>
            </table>

            <div class="map_container" data-scale="1" id="svgContainer">
            </div>
        </main>
    </div>
</body>
<script defer src=' static/main.js?ver={{ (index . "main.js" ).Etag }}'>
</script>

</html>