<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Checker</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    This is a website.

    <form id="myForm" method="POST">
        <div><input required type="text" name="id"></div>
        <div><input type="submit" value="Submit"></div>
    </form>

    <div id="content"></div>

</body>
<script defer src="static/main.js"></script>

</html>